<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../static/mydist/css/style.css" th:href="@{/mydist/css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div style="width: 100%; display: table" >
	<th:block th:include="common/top::nav"/>
</div>
<div style="float: left; ">
	<th:block th:include="common/left::nav"/>
</div>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">用户添加</a></li>
    </ul>
    </div>
<div class="mainindex">
    <div class="formbody">
    
    <div class="formtitle"><span>添加公告</span></div>
    
	<form  method="post">
		<ul class="forminfo">
           <li><label>公告标题</label><input id="announcementName" name="announcementName" type="text" class="dfinput" /></li>
		   <li><label>公告</label><textarea id="announcementContent" name="announcementContent" cols="56" rows="8" style="border:solid 1px">请填写公告</textarea></li>
            <li><label>&nbsp;</label><a onclick="addAnnouncement()" class="mybtn" style="display: inline-block;text-align: center">添加</a></li>
            <li><label id="error" style="display: none">错误信息</label></li>
        </ul>	
		
	</form>
    
    </div>
</div>
<script type="text/javascript">
    function addAnnouncement() {
        var announcementName = $("#announcementName").val();
        var announcementContent = $("#announcementContent").val();
        if(announcementName == null|| announcementName == undefined || announcementName.trim()==""||
            announcementContent == null|| announcementContent == undefined || announcementContent.trim()==""){
            $("#error").css("display","block");
            $("#error").html("公告名和信息不能为空");
            return false;
        }

        window.location.href="/bookmanager/addAnnouncement?state=OK&announcementName="+announcementName
            +"&announcementContent="+announcementContent;

    }
</script>
</body>
</html>
