<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站后台管理系统</title>
<link href="../../static/mydist/css/style.css" rel="stylesheet" th:href="@{mydist/css/style.css}"
      type="text/css" />
<script type="text/javascript" src="../../static/mydist/js/jquery.js" th:src="@{mydist/js/jquery.js}"
></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>
    <div style="width: 100%; display: table" >
        <th:block th:include="common/top::nav"/>
    </div>
    <div style="float: left; ">
        <th:block th:include="common/left::nav"/>
    </div>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    <div class="mainindex">
        <div class="rightinfo">
        <div class="tools">

            <ul class="toolbar">
                <form th:action="@{/searchshelfByName}" method="post">
                    <li><label>书架名</label><input  th:value="${bookshelfName}" name="bookshelfName" placeholder="输入书架名称" type="text" class="dfinput" /></li>
                    <li><input name="" type="submit" class="btn" value="搜索"/></li>
                </form>

                    <!--<li class="click"><a th:href="@{bookshelfedit.html}"><img src="../../static/mydist/images/t02.png" th:src="@{/mydist/images/t02.png}"/>修改</a></li>-->
                    <!--<li class="click"><span><img src="../../static/mydist/images/t03.png" th:src="@{/mydist/images/t03.png}"/></span>删除</li>-->
                   <!--<li class="click"><span><img src="../../static/mydist/images/t04.png" th:src="@{/mydist/images/t04.png}"/></span>统计</li>-->
            </ul>
        
            <ul class="toolbar1">
                <li class="click"><span><img src="../../static/mydist/images/t01.png" th:src="@{/mydist/images/t01.png}"/>添加</span></li>
                <li><span><img src="../../static/mydist/images/t05.png" th:src="@{/mydist/images/t05.png}"/></span>设置</li>
            </ul>
        </div>
            <table class="tablelist">
                <thead>
                <tr>
                    <th><input name="" type="checkbox" value=""/></th>
                    <th>编号<i class="sort"><img src="../../static/mydist/images/px.gif" th:src="@{/mydist/images/px.gif}"/></i></th>
                    <th>书架名称</th>
                    <th>书架位置</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bookshelf : ${pageInfo.getList()}">
                    <td><input name="" type="checkbox" value="" /></td>
                    <td th:text="${bookshelf.getBookshelfId()}"></td>
                    <td th:text="${bookshelf.getBookshelfName()}"></td>
                    <td th:text="${bookshelf.getBookshelfPosition()}"></td>
                    <td><a th:href="@{toEditshelf(bookshelfId=${bookshelf.getBookshelfId()})}" class="tablelink">修改</a>
                        <a  onclick="deleteshelf()" th:href="@{/deleteshelf(bookshelfId=${bookshelf.getBookshelfId()},page=${pageInfo.getPages()})}" class="tablelink"> 删除</a></td>
                </tr>
            </table>
        <div class="pagin">
            <div class="message">共<i class="blue" th:text="${pageInfo.getTotal()}"></i>条记录，当前显示第&nbsp;<i class="blue" th:text="${pageInfo.getPageNum()}">2&nbsp;</i>页</div>
            <ul class="paginList" >
                <li class="paginItem"><a th:href="@{/loadshelf(page=${pageInfo.getPrePage()})}"><span class="pagepre"></span></a></li>
                <li class="paginItem"><a href="javascript:;" th:href="@{/loadshelf(page=${pageInfo.getFirstPage()},pageSize=${pageInfo.getPageSize()})}">首页</a></li>
                <li class="paginItem current"><a  th:each="num : ${pageInfo.getNavigatepageNums()}" th:text="${num}" th:href="@{/loadshelf(page=${num},pageSize=${pageInfo.getPageSize()})}">2</a></li>

                <!--            <li class="paginItem more"><a href="javascript:;">...</a></li>-->
                <li class="paginItem"><a href="javascript:;" th:href="@{/loadshelf(page=${pageInfo.getLastPage()},pageSize=${pageInfo.getPageSize()})}">尾页</a></li>
                <li class="paginItem"><a th:href="@{/loadshelf(page=${pageInfo.getNextPage()})}"><span class="pagenxt"></span></a></li>
            </ul>
        </div>
       <div class="tip">
           <div class="tiptop"><span>添加书架</span><a></a></div>
           <div class="tipinfo">
               <!--            <span><img src="../../static/mydist/images/ticon.png" th:src="@{mydist/images/ticon.png}"/></span>-->
               <div class="tipright">
                   <label>书架名</label>&nbsp;<input name="" id = "addBookshelfName" type="text" class="dfinput" />
               <br>
                   <label>位置</label>&nbsp;&nbsp;&nbsp;&nbsp;<input name="" id = "addBookshelfPosition" type="text" class="dfinput" />
                   <label id="error" style="display: none">错误信息</label>
               </div>
           </div>
           <div class="tipbtn" >
               <a onclick="addshelf()" class="mybtn" style="display: inline-block">&nbsp;&nbsp;确定</a>
               <label>&nbsp;</label><a onclick="deleteshelf()" class="mybtn" style="display: inline-block">&nbsp;&nbsp;取消</a>
           </div>
       </div>
        </div>
    </div>
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');

    function addshelf() {
        var bookshelfName = $("#addBookshelfName").val();
        var bookshelfPosition = $("#addBookshelfPosition").val();
        console.log(bookshelfName+"----"+bookshelfPosition);
        if(bookshelfName == null || bookshelfName == "" || bookshelfName == undefined||bookshelfPosition == null || bookshelfPosition == "" || bookshelfPosition == undefined){
            $("#error").css("display","block");
            $("#error").html("标签名不能为空");
            return false;
        }
        var data = {"bookshelfName" : bookshelfName,"bookshelfPosition" : bookshelfPosition};
        $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url : "admin/addshelf",
            //数据，json字符串
            data : JSON.stringify(data),
            success: function (result) {
                if (result.result) {
                    alert("添加成功");
                    window.location.href="loadshelf";
                }
                else {
                    $("#error").html(result.message);
                    console.log(result.message+"--"+result.result);
                    alert("添加失败");
                }
            },
            error: function () {
                alert("操作失败");
            }

        })
    }


    function deleteshelf(bookshelfId) {
        console.log(bookshelfId);
        if( alert("确认删除") ){
            var data = {"bookshelfId": bookshelfId};
            $.ajax({
                //请求方式
                type : "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url : "admin/deleteshelf",
                //数据，json字符串
                data : JSON.stringify(data),
                success: function (result) {
                    if (result.result) {
                        alert("删除成功");
                        window.location.href="loadshelf";
                    }
                    else {
                        console.log(result.message+"--"+result.result);
                        alert("删除失败");
                    }
                },
                error: function () {
                    alert("操作失败");
                }

            })
        }
    }
	</script>
</body>
</html>
