<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../static/mydist/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">书架编辑</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>书架编辑</span></div>
    
	<form action="" method="post">
		<ul class="forminfo">
           <li><label>书架名</label><input name="" type="text" class="dfinput" /></li>
		   <li><label>位置</label><input name="" type="text" class="dfinput" /></li>
		   <li><input name="" type="submit" class="btn" value="提交"/>
	       <label>&nbsp;</label><input name="" type="reset" class="btn" value="重置"/></li>
        </ul>	
		
	</form>
    
    </div>
</body>
</html>
