<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../static/mydist/css/style.css" th:href="@{mydist/css/style.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{plugins/jquery/jquery.js}"></script>
    <script type="text/javascript" src="../../static/mydist/js/public.js" th:src="@{mydist/js/public.js}"></script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">图书类型编辑</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>图书类型编辑</span></div>
    
	<form action="" method="post">
		<ul class="forminfo">
            <li><label>标签id</label><input name="typeId" id = "typeId" type="text" class="dfinput" th:value="${booktype.typeId}" readonly/></li>
           <li><label>类型名</label><input name="typeName" id="typeName" th:value="${booktype.typeName}" type="text" class="dfinput" /></li>
            <li><a onclick="editBookType()" class="mybtn" style="display: inline-block">修改</a>
                <label>&nbsp;</label><a onclick="aaa()" class="mybtn" style="display: inline-block">重置</a></li>
            <li><label id="error" style="display: none">错误信息</label></li>
        </ul>	
		
	</form>
    
    </div>
</body>
<script>
    function editBookType() {
        var typeName = $("#typeName").val();
        var typeId = $("#typeId").val();
        if(typeName == null || typeName == "" || typeName == undefined){
            $("#error").css("display","block");
            $("#error").html("typeName不能为空");
            return false;
        }


        var data = {"typeName" : typeName,
            typeId:typeId
        };
        $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            //请求地址
            url : "admin/booktypemodify",
            //数据，json字符串
            data : JSON.stringify(data),
            success: function (result) {
                if (result.result) {
                    alert("添加成功");
                    window.location.href="booktypelist";
                }
                else {
                    $("#error").html(result.message);
                    console.log(result.message+"--"+result.result);
                    alert("添加失败");
                }
            },
            error: function () {
                alert("操作失败");
            }

        })
    }
</script>
</html>
