<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户修改</title>
<link href="../../static/mydist/css/style.css" rel="stylesheet" th:href="@{mydist/css/style.css}" type="text/css" />
    <script type="application/json" th:src="@{plugins/jquery/jquery.js}"></script>
    <script type="application/json" src="../../static/mydist/js/public.js" th:src="@{mydist/js/public.js}"></script>
    <style type="text/css">

    </style>
</head>

<body>
    <div style="width: 100%; display: table" >
        <th:block th:include="common/top::nav"/>
    </div>
    <div style="float: left; ">
        <th:block th:include="common/left::nav"/>
    </div>
    <div class="mainindex">
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">首页</a></li>
                <li><a href="#">用户编辑</a></li>
            </ul>
        </div>

        <div class="formbody">
        <div class="formtitle"><span>用户编辑</span></div>
        <form action="" method="post">
            <ul class="forminfo">
                <li><label>用户编号</label><input name="" th:value="${user.getUserId()}" type="text" class="dfinput" id="userId" readonly/></li>
                <li><label>用户名</label><input name="" th:value="${user.getUserName()}" type="text" class="dfinput" id="userName"/></li>
                <li><label>密码</label><input name="" th:value="${user.getUserPwd()}" type="text" class="dfinput" id="userPwd"/></li>
                <li><label>邮箱</label><input name="" th:value="${user.getMailbox()}" type="text" class="dfinput" id="mailbox"/></li>
                <li><label>电话</label><input name="" th:value="${user.getPhone()}" type="text" class="dfinput" id="phone"/></li>
                <li><label>性别</label><input name="sex" value="0" th:checked="${user.getSex()==0}"  type="radio" class="" id="sex"/>男
                    &nbsp;<input name="sex" value="1" th:checked="${user.getSex()==1}" type="radio" class="" />女</li>
                <li><label>年龄</label><input name="" th:value="${user.getAge()}" type="text" class="dfinput" id="age"/></li>
                <li><a onclick="edituser()" class="mybtn" style="display: inline-block">&nbsp;&nbsp;修改</a>
                    <label>&nbsp;</label><a onclick="aaa()" class="mybtn" style="display: inline-block">&nbsp;&nbsp;重置</a></li>
                <li><label id="error" style="display: none">错误信息</label></li>
            </ul>
        </form>
        </div>
    </div>
    <script type="application/javascript">

        function edituser(){
            console.log("进入");
            var userId = $("#userId").val();
            var userName = $("#userName").val();
            var userPwd = $("#userPwd").val();
            var mailbox = $("#mailbox").val();
            var phone = $("#phone").val();
            var sex = $('input:radio[name="sex"]:checked').val();
            var age = $("#age").val();
            console.log(userId + "--" + userName+ "--"
                +userPwd+"--"+mailbox + "--" +phone+ "--" +sex+"--"+age);
            if (userName == null || userName == undefined || userName.trim() == "") {
                $("#error").css("display","block");
                $("#error").html("用户名称不能为空");
                return false;
            }
            if (userPwd == null || userPwd == undefined || userPwd.trim() == "") {
                $("#error").css("display","block");
                $("#error").html("密码不能为空");
                return false;
            }

            if (mailbox == null || mailbox == undefined || mailbox.trim() == "") {
                $("#error").css("display","block");
                $("#error").html("邮箱不能为空");
                return false;
            }
            if (phone == null || phone == undefined || phone.trim() == "") {
                $("#error").css("display","block");
                $("#error").html("电话不能为空");
                return false;
            }
            if (age == null || age== undefined || age.trim() == "") {
                $("#error").css("display","block");
                $("#error").html("年龄不能为空");
                return false;
            }
            if (sex == null || sex == undefined || sex.trim() == "") {
                $("#error").css("display","block");
                $("#error").html("性别不能为空");
                return false;
            }
            var data = {"userId" : userId,"userName" : userName,"mailbox" : mailbox,"userPwd" : userPwd,
                "phone" : phone,"sex" : sex,"age" : age};
            $.ajax({
                //请求方式
                type : "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url : "user/admin/edituser",
                //数据，json字符串
                data : JSON.stringify(data),
                success: function (result) {
                    if (result.result) {
                        alert("修改成功");
                        window.location.href="loadUsers";

                    }
                    else {
                        console.log(result.message+"--"+result.result);
                        alert("保存失败");
                    }
                },
                error: function () {
                    alert("操作失败");
                }

            })
        }





    </script>
</body>
</html>
